.image-gallery-slide img {
    object-fit: cover;
    background-size: 100%;
}

.image-gallery-slide {
    height: 300px !important;
}

#galleryContainer {
    padding: 10px;
}

.left {
    text-align: left;
    padding: 20px;
}


.image-gallery-slide {
    height: 200px;
    object-fit: cover;
}

@media only screen and (min-width: 0px) and (max-width: 500px) {
    .image-gallery-slide img {
        height: 200px;
        object-fit: cover;
    }
}
