.grid-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;
}

.grid-item:hover .grid-images {
    opacity: 0.2;
}

.grid-item:hover .overlay {
    opacity: 1;
}

.grid-item {
    height: 150px;
    position: relative;
}

.grid-images {
    opacity: 1;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.title {
    color: rgba(0, 0, 0, 0.99);
    font-size: 18px;
    padding: 5px 5px;
}

.release {
    background-color: orange;
    color: rgba(255, 255, 255, 0.99);
    font-size: 10px;
    padding: 5px 5px;
}

.overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 200px;
}

.recommended-desc {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.titles {
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
}

@media only screen and (min-width: 500px) and (max-width: 1000px) {
    .grid-container {
        grid-template-columns: auto auto auto;
    }

    .title {
        font-size: 12px;
    }

    .release {
        font-size: 8px;
    }

    .overlay {
        width: 140px;
    }
}


@media only screen and (min-width: 0px) and (max-width: 500px) {
    .grid-container {
        grid-template-columns: auto auto;
        justify-content: unset;
    }

    .title {
        font-size: 19px;
    }
    .release {
        font-size: 12px;
    }

    .overlay {
        width: 200px;
    }
}
