#leftCol {
    text-align: right;
    padding-right: 20px;
}

#rightCol {
    padding-top: 65px;

}

.col-centered{
    float: none;
    margin: 0 auto;
}

#profImg {
    border-radius: 50%;
    width: 170px;
    height: 170px;
    object-fit: cover;
}


@media only screen and (max-width: 574px) {
    #leftCol {
        text-align: center;
        padding: 0;
    }

    #rightCol {
        text-align: center;
        padding: 10px 0 0;
    }
}