#list-container {
    padding: 10px;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(5, 1fr);
}

.list-container-item {
    margin-bottom: 10px;
}

.list-add-btn {
    width: 90%;
    cursor: pointer;
    font-size: 9px;
    margin: 3px 0 0;
}


.miniature-img {
    object-fit: cover;
    width: 90%;
    height: 100px;
}

#title {
    width: 190px;
    height: 190px;
    margin: 10px auto 20px;
    padding: 20px;
    color: white;
    background-color: orange;
    border-radius: 50%;
}

#inside-title {
    margin-top: 60px;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .list-add-btn {
        font-size: 8px;
    }
    #list-container {
        grid-template-columns:  repeat(4, 1fr);
    }
}

@media only screen and (max-width: 600px) {
    #list-container {
        grid-template-columns:  repeat(2, 1fr);
    }

    .miniature-img {
        height: 140px;
    }
}