#movie-details-row {
    margin-top: 20px;
    padding-bottom: 20px;
}

.add-btn {
    width: 100%;
    font-size: 13px;
    margin: 0px !important;
    margin-top: 10px !important;
}

.active {
    background-color: #ffc069;
    color: white;
}

.poster {
    width: 100%;
}

.right {
    text-align: left;
    padding-left: 0;
}

.movie-desc {
    font-size: 13px;
}

#movie-info-container {
    font-size: 14px;
}

@media only screen and (max-width: 575px) {
    #movie-info-container {
        padding-top: 20px;
    }

    .add-btn {
        font-size: 12px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 700px) {
    .add-btn {
        font-size: 9px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 940px) {
    .add-btn {
        font-size: 11px;
    }
}